<mat-spinner style="z-index: 200;" *ngIf="showSpinner"></mat-spinner>
<div>
    <div style = "margin-bottom: 30px; font-size: 1.5rem;">
        {{title}}
        <mat-chip-list style = "float:right;">
            <mat-chip style = "color: red; background-color: inherit; border: solid; font-size: 12pt; padding-bottom: 3px;" *ngIf = "crudContext === shared.ACTION_UPDATE" (click) = "onDelete()">Delete</mat-chip>
            <mat-chip style = "color: #858585; background-color: inherit; border: solid; font-size: 12pt; padding-bottom: 3px;" (click) = "closeDialog()">Cancel</mat-chip>
            <mat-chip style = "color: white; background-color:#3A86FF; border: solid #3A86FF; font-size: 12pt; padding-bottom: 3px;" (click) = "onCrud()">Save</mat-chip>
        </mat-chip-list>
    </div>
    <div style = "margin-bottom: 30px;"> 
        <mat-form-field style = "width: 250px;">
            <input matInput [(ngModel)]="userId" placeholder="Email Address" [disabled] = "disableEmail" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 24px;">
            <input matInput [(ngModel)]="firstName" placeholder="First Name" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 24px;">
            <input matInput [(ngModel)]="lastName" placeholder="Last Name" required>
        </mat-form-field>
    </div>
    
    <div style = "display: flex; justify-content: space-between; align-items: center; width: 50%; margin-bottom: 20px;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Accounts">
        </mat-form-field>
        <mat-chip (click) = "toggleAddedAccountsView()" *ngIf = "!showAddedAccounts">({{ addedAccounts.length }}) accounts added</mat-chip>
        <mat-chip (click) = "toggleAddedAccountsView()" *ngIf = "showAddedAccounts">View all accounts</mat-chip>
    </div>

    <div style = "width: 100%; overflow: auto;" [hidden] = "showAddedAccounts">
        All Accounts
        <table mat-table [dataSource] = "accountsDataSource" style = "width: 100%;" >
            <ng-container matColumnDef="custId">
                <th mat-header-cell *matHeaderCellDef> Account Nbr
                    <button mat-icon-button *ngIf = "sorting.column === 'custId' && sorting.direction === 'asc'"(click) = "sortData('custId')"><mat-icon>arrow_upward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column === 'custId' && sorting.direction === 'desc'"(click) = "sortData('custId')"><mat-icon>arrow_downward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column !== 'custId'" (click) = "sortData('custId')"> - </button></th>
                <td mat-cell *matCellDef="let element"> {{element.custId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="fleetId" > 
                <th mat-header-cell *matHeaderCellDef style = "width: 100px;"> Fleet
                    <button mat-icon-button *ngIf = "sorting.column === 'fleetId' && sorting.direction === 'asc'"(click) = "sortData('fleetId')"><mat-icon>arrow_upward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column === 'fleetId' && sorting.direction === 'desc'"(click) = "sortData('fleetId')"><mat-icon>arrow_downward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column !== 'fleetId'" (click) = "sortData('fleetId')"> - </button></th>
                <td mat-cell *matCellDef="let element" style = "width: 100px;"> {{element.fleetId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name
                    <button mat-icon-button *ngIf = "sorting.column === 'name' && sorting.direction === 'asc'"(click) = "sortData('name')"><mat-icon>arrow_upward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column === 'name' && sorting.direction === 'desc'"(click) = "sortData('name')"><mat-icon>arrow_downward</mat-icon></button>
                    <button mat-icon-button *ngIf = "sorting.column !== 'name'" (click) = "sortData('name')"> - </button></th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab style = "background-color:#f44336; float:right;" (click) = "removeAccount(element.key)" *ngIf = "element.selected">
                        <i class="material-icons">
                        remove
                        </i>
                    </button>
                    <button mat-mini-fab style = "background-color:#6fbf73; float:right;" (click) = "addAccount(element.key)" *ngIf = "!element.selected">
                        <i class="material-icons">
                        add
                        </i>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" showFirstLastButtons #allAccountsPaginator></mat-paginator>
    </div>
    <div style = "width: 100%; overflow: auto;" [hidden] = "!showAddedAccounts">
        Added Accounts
        <table mat-table [dataSource] = "addedAccountsDataSource" style = "width: 100%;" >
            <ng-container matColumnDef="custId">
                    <th mat-header-cell *matHeaderCellDef> Account Nbr
                            <button mat-icon-button *ngIf = "sorting.column === 'custId' && sorting.direction === 'asc'"(click) = "sortData('custId')"><mat-icon>arrow_upward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column === 'custId' && sorting.direction === 'desc'"(click) = "sortData('custId')"><mat-icon>arrow_downward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column !== 'custId'" (click) = "sortData('custId')"> - </button></th>
                <td mat-cell *matCellDef="let element"> {{element.custId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="fleetId" > 
                    <th mat-header-cell *matHeaderCellDef style = "width: 100px;"> Fleet
                            <button mat-icon-button *ngIf = "sorting.column === 'fleetId' && sorting.direction === 'asc'"(click) = "sortData('fleetId')"><mat-icon>arrow_upward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column === 'fleetId' && sorting.direction === 'desc'"(click) = "sortData('fleetId')"><mat-icon>arrow_downward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column !== 'fleetId'" (click) = "sortData('fleetId')"> - </button></th>
                <td mat-cell *matCellDef="let element" style = "width: 100px;"> {{element.fleetId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name
                            <button mat-icon-button *ngIf = "sorting.column === 'name' && sorting.direction === 'asc'"(click) = "sortData('name')"><mat-icon>arrow_upward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column === 'name' && sorting.direction === 'desc'"(click) = "sortData('name')"><mat-icon>arrow_downward</mat-icon></button>
                            <button mat-icon-button *ngIf = "sorting.column !== 'name'" (click) = "sortData('name')"> - </button></th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab style = "background-color:#f44336; float:right;" (click) = "removeAccount(element.key)">
                        <i class="material-icons">
                        remove
                        </i>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" showFirstLastButtons #addedAccountsPaginator></mat-paginator>
    </div>
</div>